/*----------------------------------------------------------------------------*/
/* Codice per gestione menu laterale*/

.menu_icon
{
    margin-top: 11px;
    margin-left: 5px;

    cursor: pointer;
}
.home_icon
{
    margin-right:10px;
    padding : 0;
}
#overlay {
    display: none;
    position: fixed;
    margin-left: 25%;
    margin-top: 55px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6); /* overlay grigio */
    z-index: 1;
}
.sidenav {
    margin-top: 55px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;

    font-weight: bold;
}
.sidebar_list {
    margin: 0px;
    list-style-type: none;
}
.sidenav_homepage {
    margin-left: 50px;
}
.sidenav li {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
}
.sidenav_subscribe_button {
    border-top: 1px solid black;
    padding-top: 30px;
}
.SubscribeNow {
    padding: 0.875rem 0.625rem;
    margin: 0px 50px 20px;
    width: 230px;
    justify-content: center;
    font-weight: bold;
    top: -50px;
    text-align: center;
    border-radius: 4px;
    background-color: #7d161e; /* ok */
    color: #fff;
    border: none;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
}

.collapsible:after {
    content: ">";
    color: black;
    font-weight: bold;
    float: right;
    font-size: 17px;
}

.active:after {
    content: "\2212";
}

.sidenav_inlist {
    list-style-type: none;
    margin: 0px;
}






.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/* stile menu laterale interno */

.sidenav_subscribe_button
{
    border-top: 1px solid black;
    padding-top: 30px;
}
.SubscribeNow
{
    padding: 0.875rem 0.625rem;
    margin: 0 50px 0px;
    width: 230px;
    justify-content: center;
    font-weight: bold;
    top: -50px;
    text-align: center;
    border-radius: 4px;
    background-color:#7D161E ; /* ok */
    color: #fff;
    border: none;
}

/*---------------------------------------------------------------------------------------------------------------------/
/* Stile per la finestra fissa in alto */
.finestra-fissa
{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color:white ;
    padding: 10px;
    box-sizing: border-box;
    z-index: 9999;

    align-items: center; /* Allinea verticalmente gli elementi */
    justify-content: space-between; /* Spazia gli elementi orizzontalmente */

}


.button-container
{
    display: flex;
    justify-content: space-between;

}
/* Stili per i pulsanti */

.finestra_fissa_buttons
{
    display: flex;
    align-items: center;
}
.Subscribe {
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    background-color:#7D161E ; /* ok */
    color: #fff;
    border: none;
    border-radius: 4px; /* ok */

    margin-left: 10px;


}
.LogIN
{
    padding: 10px 30px;
    text-align: center;
    border-radius: 4px;
    background-color:#7D161E ; /* ok */
    color: #fff;
    border: none;
    border-radius: 4px; /* ok */
    margin-left: 10px;
    margin-right:10px;
}
.menu_button
{
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 4px;
    background-color:transparent ; /* ok */
    color: black;
    border: none;
    margin-left: 10px ;
    white-space: nowrap;
    font-weight: bold;

}

.search_icon
{
    margin-left: 10px;
    margin-right: 10%;
    margin-top: 5px;
}


.scrolled .titolo {
    display: none;
}



/* codice riguardandi le colonne */

/* Stile del titolo */

h1.titolo
{
    text-align: center; /* Testo centrato */
    margin-bottom: 10px; /* Margine inferiore */
    margin-top: 20px;
    font-size: 50px;
    font-family: PTSerif, serif ;
}

.title
{

    margin-left: 120px;
    flex: 1;
    justify-content: center;
    text-align:center;
    display: flex;
}
.titolo_media
{
    display: none;
    font-size:50px;
    font-family: PTSerif, serif ;
    margin: 0;
    white-space:nowrap;
}

/* Stile quando scrolled */

.scrolled .finestra_fissa {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color:white ;
    padding: 10px;
    box-sizing: border-box;
    z-index: 9999;

    align-items: center; /* Allinea verticalmente gli elementi */
    justify-content: space-between; /* Spazia gli elementi orizzontalmente */
    border-bottom: 1px solid black;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2) inset;
}
.scrolled .horizontal-buttons,
.scrolled .sub-menu {
    display: none;
}
.scrolled .titolo_media {
    display: block;
}
/* ----------------------------------------------------------------------------------
-------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------
 */
/* stile sottomenu */

.horizontal-buttons {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    background-color: white;
}
.horizontal-buttons-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.horizontal-buttons-list li {
    margin-right: 10px; /* Spazio tra i bottoni */
}

.horizontal-menu-button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.horizontal-menu-button:hover
{
    color: red;
    text-decoration: underline;
}


.trend
{
    text-align: left;
    font-weight: bold;
    color: darkred;
    margin-left: 3%;
    padding: 30px;
    font-size: 15px;
}

/*stile sub menu */

.sub-menu {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;

    background-color: white;
}
.sub-menu-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
}
.sub-menu-list li {
    margin-right: 10px; /* Spazio tra i bottoni */
}

.sub-menu-ref {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    text-decoration: none;

}

.sub-menu-ref:hover
{
    color: darkred;
}

/* si occupa del ridimensionamento della pagina */


/* ----------------------------------------------------------------------------------
-------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------
 */



/* Stile della griglia di layout */
.main
{
    width: 100%;
    align-items: center;

    justify-content: center;

}
.main_container {
    width: 1300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;


}
.main_colonne
{
    display: flex;
}
.ads
{
    width: 25%;
}



.colonna-principale {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 55%;
    margin-right: 8px;
}

.sezione_main
{

}
.contenuto
{
    display: flex;

    margin:0;
    align-items: center;
}

.contenuto.testo
{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.main_image
{
    height: auto; /* Altezza automatica, per mantenere le proporzioni */
    margin-left: 20px; /* Margine a sinistra per separare l'immagine dal testo */
    width: 55%;


}
.articoli{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

.contenuto_articoli_sx {
    width: 48% ;
    display: flex;

    margin-right: 9px;
    flex-direction: column;
}
.contenuto_articoli_dx {
    width: 48% ;
    display: flex;

    margin-left: 8px;
    flex-direction: column;
}

.articoli_image {
    width:100%;
    height: 200px;
    margin-right: 10px; /* Spazio tra l'immagine e il testo */
    margin-bottom: 10px;

}

.testo_articoli {

}










/*------------------------------------------------------------------------------------------------------*/


.colonna-secondaria {

    margin-bottom: 20px;
    width: 17%;
    margin-right: 0;
}

.articolo {
    margin-bottom: 20px;
}

/* colonna 2*/
.colum2-title
{
    border-bottom: 2px solid darkred;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 20px;
}
.articoli-2
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
}

.articolo
{

    font-weight: bold;
    color: black;
    display: inline;
}

.date
{
    font-size: 10px;
    color : gray;
    display: inline;
}
.signup-box
{
    background-color: lightgrey;
    text-align: center;
    padding: 10px;
}
.sign
{
    font-size: large;
    font-weight: bold;
}
.article-signup-button
{
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    background-color:#7D161E ; /* ok */
    color: #fff;
    border: none;
    border-radius: 4px; /* ok */
}

/*-----------------------------MOST POPULAR---------------------------------------*/

.container_2 {
    width: 75%;

}

.most_popular {
    margin-top: 20px;


}

.most_popular_title {
    color: #7D161E;
    border-bottom: solid 2px #7D161E;
    margin-bottom: 20px;
}

.most_popular_lista {
    list-style: none;
    padding-left: 10px;
}

.most_popular_lista li {
    margin-bottom: 20px;
    position: relative; /* Posizione relativa per il posizionamento dell'indice */
    padding-left: 20px; /* Spazio per l'indice */
    margin-left: 10px;
    font-weight: bold;
}

.most_popular_lista li:before {
    content: counter(list-counter1); /* Mostra il numero dell'elenco */
    counter-increment: list-counter1; /* Incrementa il contatore */
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #7D161E;
    color: white; /* Testo bianco */
    text-align: center;
    line-height: 30px;
    position: absolute; /* Posizione assoluta rispetto al padre */
    left: 0; /* Allineamento a sinistra */
    top: 0; /* Allineamento in alto */
    margin-left: -20px; /* Offset per posizionamento */
    font-weight: bold;
}

/* Contatore separato per ogni lista */

#list1 { counter-reset: list-counter1; }
#list2 { counter-reset: list-counter2 5; }

#list2 li:before{
    content:counter(list-counter2);
    counter-increment:list-counter2;
}


/*----------------------------------------------3 COLONNE----------------------------------------------------------*/

.colum_conteiner
{


    width: 75%;
}
.three_columns_conteiner
{
    margin-top: 20px;
    flex: 1;
}

.three_columns {
    width: 33%;
    padding: 15px;

}

.three_columns:last-child {
    margin-right: 0;
}

.column-title {
    border-bottom: 2px solid #7D161E;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: medium;
    position: relative;
}

.column-title h4 {
    margin: 0;

}

/* Aggiunta del simbolo ">" */
.column-title:after {
    content: ">";
    position: absolute;
    top: 50%;
    right: 5px; /* Distanza dal testo */
    color: #7D161E; /* Colore rosso */
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 30px;
}



.image-container img {
    width: 100%;
    height: auto;
}
.image_title
{
    margin-top: 10px;
    font-weight: bold;
}

.description {
    margin-top: 5px;
}

.description p {

}

.section-title {
    font-weight: bold;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

/*------------------------------------------PHOTOS-------------------------------*/
/* Stile per il contenitore principale */
.photos_container {
    width: 75%;
}

/* Stile per il titolo */
.photos_title {
    width: 100%;
    border-bottom: 2px solid #7D161E;
    display: inline-block;
    position: relative;
}

/* Stile per aggiungere il simbolo ">" accanto al titolo */
.photos_title:after {
    content: ">";
    position: absolute;
    right: 850px;
    color:#7D161E;
    font-weight: bold;
    font-size: 30px;
    top: -7px;


}

/* Stile per la struttura a due colonne */
.photos {
    display: flex;
}

/* Stile per la colonna di sinistra */
.left_column {
    width: 70%;
}

/* Stile per la colonna di destra */
.right_column {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

/* Stile per l'immagine principale */
.main_image_photo img {
   flex: 1;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
}


/* Stile per il titolo e la descrizione dell'immagine principale */
.main_image_photo h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.main_image_photo p {
    font-size: 1rem;
    width: 100%;
}

/* Stile per gli articoli nella colonna di destra */
.article {
    margin-bottom: 20px;

    padding: 4px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: flex-start;
}

.article img {
    width: 90px;
    height: 75px;
    margin-right: 10px;
}

.article h6 {
    font-size: 0.875rem;
    margin: 0;
}

/* ----------------------------------SHOWMOREPHOTOS______________________________*/
.show-more-photos_container {
    width: 75%;

    text-align: center;

}
.btn-show-more
{
    color:#7D161E;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;

}
.btn-show-more :hover
{
    color:black;
}

/*---------------------------------------------POLITICS--------*/
.politics_conteiner
{
    width: 75%;
    margin-top: 20px;

}
.politics_title
{
    width: 100%;
    border-bottom: 2px solid #7D161E;
    display: inline-block;
    position: relative;
}
.politics
{
    display: flex;
}
.politics_title:after {
    content: ">";
    position: absolute;
    right: 850px;
    color:#7D161E;
    font-weight: bold;
    font-size: 30px;
    top: -7px;


}
.politics_left_column
{
    display: flex;
    width: 65%;
    margin-left: 5px;
    margin-top: 20px;
}
.politics_main_text
{
    width: 50%;
margin-left: 10px;

}
.politics_main_text h3
{
    font-weight: bold;
    font-size: 25px;
}
.politics_main_text p
{
    font-size: 15px;
}
.politics_right_column {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 20px;
}
.politics_article
{
    margin-bottom: 10px;
    padding: 8px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: flex-start;
}
.politics_article h6 {
    font-size: 0.875rem;
    margin: 0;
    font-weight: bold;
}

/*--------------------------------------------------OPINION---------------------------------------------------------*/
.opinion_conteiner
{
    width: 75%;
    margin-top: 20px;

}
.opinion_title
{
    width: 100%;
    border-bottom: 2px solid #7D161E;
    display: inline-block;
    position: relative;
}
.opinion
{
    display: flex;
}
.opinion_title:after {
    content: ">";
    position: absolute;
    right: 850px;
    color:#7D161E;
    font-weight: bold;
    font-size: 30px;
    top: -7px;


}
.opinion_left_column
{
    display: flex;
    width: 65%;
    margin-left: 5px;
    margin-top: 20px;
}
.opinion_main_text
{
    width: 50%;
    margin-left: 10px;

}
.opinion_main_text h3
{
    font-weight: bold;
    font-size: 25px;
}
.opinion_main_text p
{
    font-size: 15px;
}
.opinion_right_column {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 20px;
}
.opinion_article
{
    margin-bottom: 10px;
    padding: 8px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: flex-start;
}
.opinion_article h6 {
    font-size: 0.875rem;
    margin: 0;
    font-weight: bold;
}


.education_title
{
    width: 100%;
    border-bottom: 2px solid #7D161E;
    display: inline-block;
    position: relative;
}
.education_title:after {
    content: ">";
    position: absolute;
    right: 815px;
    color:#7D161E;
    font-weight: bold;
    font-size: 30px;
    top: -7px;


}

.enviroment_title
{
    width: 100%;
    border-bottom: 2px solid #7D161E;
    display: inline-block;
    position: relative;
}
.enviroment_title:after {
    content: ">";
    position: absolute;
    right: 780px;
    color:#7D161E;
    font-weight: bold;
    font-size: 30px;
    top: -7px;


}
.crime_title
{
    width: 100%;
    border-bottom: 2px solid #7D161E;
    display: inline-block;
    position: relative;
}
.crime_title :after
{
    content: ">";
    position: absolute;
    right: 700px;
    color:#7D161E;
    font-weight: bold;
    font-size: 30px;
    top: -7px;
}

/*-----------------------------------------FOOTER-----------------------------------*/
.footer {
    background-color: #f8f9fa;
    padding: 20px ;
    border-top: 1px solid #e9ecef;
    margin-top: 40px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2) inset; /* Effetto ombra */
    width: 100%;
}
.footer_title
{
    font-weight: bold;
    margin-left: 10px;
}
.footer_row{
    background-color: #f8f9fa;
    width : 100%;

    display:flex;
    flex-wrap:wrap;
}
.footer-column
{
    flex: 1 1 150px;
    list-style-type: none;
    width : 17%;
    margin :20px;
    padding : 0px;
}
.footer-column h5 {
    font-weight: bold;
    font-size: 16px;
    border-top: 1px solid #000;
    padding-bottom: 0px;
    margin-bottom: 5px;
    padding-top:10px;

}


.footer-column li {
    color: #000;
    text-decoration: none;
    display: block;

    margin-bottom: 2px;
    font-size: 16px;

    padding : 5px;
}

.footer-column li:hover {
    text-decoration: underline;
}
.footer .subscribe-button {
    display: block;

    padding: 10px 20px;
    background-color: #7D161E;
    color: white;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;


    font-size: 15px;
}
.footer_button_border
{
    margin-top: 20px;
    border-top: 1px solid #000;
}


/* ----------------------------------------------@MEDIA CODE----------------------------------------------------*/

@media (max-width: 1030px) {
    .horizontal-buttons,
    .sub-menu {
        display: none;
    }
    .horizontal-buttons-list ,.sub-menu-list
    {
        display: none;
    }
    h1.titolo
    {
        display: none;
    }
    .finestra_fissa
    {
        border-bottom: 1px solid black;
        box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
    }
    .titolo_media
    {
        display: block;
    }
    .Subscribe
    {
        display: none;
    }
    .LogIN
    {
        display: none;
    }
    .menu_button
    {
        display: none;
    }

    /* controllo layout pagina */
    .main_container
    {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
    }
    .colonna-principale
    {
        width: 59%;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }
    .contenuto {
        flex-direction: column; /* Disporre in colonna */
        align-items: flex-start; /* Allineare al bordo sinistro */
    }
    .main_image {
        margin-left: 0; /* Rimuovere il margine a sinistra */
        width: 100%; /* Imposta la larghezza al 100% del contenitore */
        margin-top: 20px; /* Aggiungi margine sopra l'immagine per distanziarla dal testo */
    }
    .colonna-secondaria
    {
        width: 39%;
        margin-right: 10px;
    }
    .ads
    {
        display: none;
        width: 0;
    }
    .photos
    {
        flex-direction: column;
    }
    .right_column {
        width: 100%; /* Imposta la larghezza al 100% del contenitore */
        margin-left: 0; /* Rimuovere il margine a sinistra */
        margin-top: 20px; /* Aggiungi margine superiore per distanziarla dal testo */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .article {
        width: 48%; /* Imposta la larghezza per far sì che due articoli si affianchino */
        margin-right: 2%;
        margin-bottom: 20px;
    }
    .article:nth-child(2n) {
        margin-right: 0; /* Rimuove il margine destro per i secondi elementi di ogni riga */
    }

}


/* Query @media per schermi con larghezza inferiore a 810px */
@media (max-width: 810px) {
    .main_colonne {
        flex-direction: column; /* Disporre in colonna */
    }

    .colonna-principale {
        width: 100%; /* Imposta la larghezza al 100% del contenitore */
        margin-right: 0; /* Rimuovere il margine destro */
    }

    .articoli_image {
        width: 85px; /* Riduci la larghezza dell'immagine degli articoli */
        height: 55px; /* Riduci l'altezza dell'immagine degli articoli */
    }

    .testo_articoli h4 {
        font-size: 15px; /* Riduci la dimensione del testo degli articoli */
    }

    .contenuto_articoli_sx,
    .contenuto_articoli_dx {
        display: flex; /* Aggiungi display: flex per allineare immagine e testo */
        width: 48%; /* Imposta la larghezza per far sì che due articoli si affianchino */
        margin-left: 1%; /* Margine tra articoli */
        margin-right: 1%; /* Margine tra articoli */
        margin-bottom: 20px;
        border-bottom: 1px solid black; /* Aggiungi bordo inferiore */
    }

    .contenuto_articoli_dx {
        margin-left: 1%; /* Imposta margine sinistro per articoli dx */
    }

    .contenuto_articoli_sx {
        margin-right: 1%; /* Imposta margine destro per articoli sx */
    }

    .testo_articoli {
        width: calc(100% - 85px - 20px); /* Larghezza del testo meno larghezza immagine meno margine */
        margin-left: 20px; /* Margine tra immagine e testo */
    }

    .colonna-secondaria {
        width: 100%; /* Imposta la larghezza al 100% del contenitore */
        margin-top: 20px; /* Aggiungi margine superiore per distanziarla dal contenuto principale */
    }

    .three_columns {
        width: 100%;
        margin-bottom: 20px; /* Aggiunta di uno spazio tra le colonne */
    }

    .three_columns:last-child {
        margin-right: 0;
        margin-bottom: 0; /* Rimuovere lo spazio sotto l'ultima colonna */
    }

    .politics {
        flex-direction: column;
    }

    .politics_left_column, .politics_right_column {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }

    .politics_main_text {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .opinion {
        flex-direction: column;
    }

    .opinion_left_column, .opinion_right_column {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }

    .opinion_main_text {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
}

